#page {
  hr:first-of-type {
    /* display: none; */
  }
}

.container {
  padding: 0 1rem;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 0 0;
}

.loop {
  display: block;
}

.post {
  width: 100%;
  /* max-width: 300px; */
  height: auto;
  margin-bottom: 1rem;
}

.post__link {
  width: 100%;
  height: 100%;
}

.post__image {
  width: 100%;
  /* max-width: 300px; */
  height: auto;
  aspect-ratio: 1/1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.post__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1rem;
}

/* @media screen and (max-width: 480px) {
  .loop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
