#header {
  padding: 0 1rem;
}

#headerimg {
  h1 {
    font-weight: 700;
    font-size: 1rem;
  }
  a {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  #headerimg h1 {
    font-size: 1.5rem;
  }
}
